    <div class="col-6">
    <div class="mb-3">
      <%= link_to "Home", dashboard_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
    </div>
        <%= render "shared/tweetform" %>
        <ul>
        <%= Tweet.find_each do |tweet| %>
        <li><%= tweet.body %></li> 
        <% end %>
        </ul>
    </div>
    <div class="col">
      Column
    </div>
