div.side-navbar {
    div:hover {
        background-color: $gray-200;
        transition: all .1s ease-in;
    }

    a {
        color: black;
    }

    .tweet-btn:hover {
        background-color: white;
    }
}