<div class="container py-5" style="max-width: 540px">
<h2>Set your username</h2>

<%= form_with model: current_user, local: true, url: username_path(current_user) do |f| %>
    <div class="mb-3">
        <%= f.label :username, class: "form-label" %>
        <%= f.text_field :username, class: "form-control" %>
    </div>

    <%= f.submit "Set username", class: "btn btn-primary" %>

<% end %>
</div>